<!-- template Inheritance jinja sysntax -->
{% extends "layout.html" %} {% block body %}
<!-- Page Header-->
<header
  class="masthead mb-0"
  style="background-image: url('{{url_for('static',filename='assets/img/home-bg.jpg')}}')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <span class="subheading">A Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% with messages = get_flashed_messages(with_categories=true) %} {% if messages
%} {% for category,message in messages %}
<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {% endif %} {% endwith %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-8 col-xl-7">
      <!--Fetch data from database and use for loop-->
      {% for postitem in posts %}

      <div class="post-preview">
        <a href="/post/{{ postitem.slug }}">
          <h2 class="post-title">{{postitem.title}}</h2>
          <h3 class="post-subtitle">{{postitem.subtitel}}</h3>
        </a>
        <p class="post-meta">
          Posted by
          <a href="#!">Start Bootstrap</a>
          on {{postitem.date}}
        </p>
      </div>

      {{postitem.content[0:8]}}
      <!-- Divider-->
      <hr class="my-4" />
      {% endfor %}

      <!-- Pager-->

      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase float-right" href="{{prev}}"
          >← Previous
        </a>
      </div>
      <div class="d-flex justify-content-end mb-4">
        <a class="btn btn-primary text-uppercase float-left" href="{{next}}"
          >Next →</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
